html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#MDB {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3F51B5;
  overflow: hidden;
}

#MDB .MDB-rectangle-left {
  position: absolute;
  height: calc(380% + 920px);
  margin-top: -420px;
  width: 30%;
  background-color: #303F9F;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  left: -10%;
  top: -100%;
}

#MDB .MDB-circle-small {
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #F44336;
  position: absolute;
}

#MDB .MDB-shadow-strong {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#MDB .MDB-shadow-strongest {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
